* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@import "./login.scss";
@import "./bottomnav.scss";
@import "./home.scss";
@import "./search.scss";
@import "./appiontment.scss";
@import "./chat.scss";
@import "./profile.scss";
